/**
 * Main application styles
 *
 * This file contains all the elements needed to change the 
 * appearance of the app. 
 *
 * @project   <http://pagestudioapp.com> 
 * @version   0.1.1
 * @package   xhtml-css
 * @author    Cosmo Mathieu <http://cosmointeractive.co> 
 * @copyright 2015 <http://cosmointeractive.co>
 * @file      style.css
 * @css-for   IE 9+, Safari 4+, Firefox 3+
 * 
 * --------------------------------------------------------------
 * Table of Contents
 * --------------------------------------------------------------
 * 1.0 - Reset
 * 
 * 
 * --------------------------------------------------------------
 * Color Glossary - needs updating
 * --------------------------------------------------------------
 * Dark gray (text):            #333333
 * transition: all 0.5s ease-in-out 0s;
 */ 
// --------------------------------------------------------------
// Sass file Imports
// --------------------------------------------------------------
@import "helpers/_variables";   // Custom Sass variables
@import "helpers/_bootstrap";   // Bootstrap overrides
@import "helpers/_mixins";   // Custom Sass variables
@import "vendors/bootstrap/_bootstrap";   // Bootstrap defaults
@import "vendors/matthieua-sass-css3-mixins/_css3-mixins.scss"; // Mixins  

@import "base/base";

@import "components/base";

@import "layout/base";

// --------------------------------------------------------------
// Main panes and navigation
// --------------------------------------------------------------
@import "modules/workspace";

// --------------------------------------------------------------
// #Footer icons
// --------------------------------------------------------------
@import "layout/footer";

// --------------------------------------------------------------
// Side menu panels
// --------------------------------------------------------------
@import "modules/menu"; 

@import "modules/dashboard"; 

//---------------------------------------------------------------
// Tabs panel
//---------------------------------------------------------------
@import "modules/tabable-panel";

//---------------------------------------------------------------
// Gallery module
//---------------------------------------------------------------
@import "modules/gallery";

//---------------------------------------------------------------
// 8.2.1 Fullscreen modal
//---------------------------------------------------------------
@import "modules/modals";

//---------------------------------------------------------------
// 0.0.0 User profile page
//---------------------------------------------------------------
@import "modules/users";

//---------------------------------------------------------------
// Page-Level Plugin - Tables
//---------------------------------------------------------------	
@import url("plugins/dataTables/dataTables.bootstrap.css");
@import url("plugins/tagsinput/bootstrap-tagsinput.css");
@import url("plugins/jquery-ui/jquery-ui.min.css");

//---------------------------------------------------------------	
// Tables
//---------------------------------------------------------------
@import "modules/tables";

//---------------------------------------------------------------
// Alerts
//---------------------------------------------------------------
@import "components/alerts";

//---------------------------------------------------------------
// Individual pages
//---------------------------------------------------------------
@import "pages/base";

// ---------------------------------------------------------------
// 8.2.1 Utility classes
// ---------------------------------------------------------------

/* Rotate counter-clockwise 90 degrees */
.rotate {
    @include transform(rotate(-90deg));
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  // Internet Explorer
}

.bg-white {
    background: #ffffff;
    background-color: #ffffff;
}
.bg-grey {
    background: #FCFCFC;
    background-color: #FCFCFC;
}

/**
 * !Hack - Fix for TinyMCE fullscreen 
 */
.mce-fullscreen {
    #main_navigation,
    .workspace,
    .workspace > header,
    .left-pane,
    .footer {
        z-index: 0;
    }
}

.border {
    border: 1px solid #F00 !important;
}