.smk-alert {
  border: 0;
  color: #FFF;
  @include background-opacity($black, .80);
}
.alert-success.smk-alert{
  border-top: 4px solid $alert-success-border;
}
.alert-warning.smk-alert{
  border-top: 4px solid $alert-warning-border;
}
.alert-danger.smk-alert{
  border-top: 4px solid $alert-danger-border;
}
.alert-info.smk-alert{
  border-top: 4px solid $alert-info-border;
}


p {
  &.error,
  &.success {
    padding: $alert-padding;
    margin-bottom: $line-height-computed;
    border: 1px solid transparent;
    border-radius: $alert-border-radius;
  }
  
  &.success {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
  }
  &.error {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
  }
}