#file_explorer {
    float: right; 
    width: 220px;
    border: 1px solid #CCCCCC;
    height: 500px;
    overflow: auto;
}

#file_explorer ul ul li a {
    display: block;
    padding: 3px 10px;
}

#file_explorer ul ul li a:hover {
    background-color: #E7EFEF;
}

#file_explorer a {
    text-decoration: none;
}

.filepath {
    font-size: 11px;
    padding: 0 5px;
    color: #000000;
}

#file_explorer .selected {
    background-color: #E7EFEF;
}

.CodeMirror-scroll {
  height: 500px !important; 
}

.short-editor .CodeMirror-scroll {
  height: 300px !important;
}

#file_explorer .tree, 
#file_explorer .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
#file_explorer .tree ul {
    position:relative;
    /* margin-left:1em; */
}
#file_explorer .tree ul ul {
    /* margin-left: .5em */
}
#file_explorer ul ul li a {
  padding: 3px 10px 3px 25px;
}
#file_explorer .tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    /* border-left:1px solid */
}
#file_explorer .tree li {
    margin: 0;
    padding: 0;
    /* line-height:2em; */
    /* color:#369; */
    /* font-weight:700; */
    position:relative
}
#file_explorer .tree ul li:before {
    /* content:""; */
    /* display:block; */
    /* width:10px; */
    /* height:0; */
    /* border-top:1px solid; */
    /* margin-top:-1px; */
    /* position:absolute; */
    /* top:1em; */
    /* left:0 */
}
#file_explorer .tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
#file_explorer .title {
    background-color: #F4F4F4;
    padding: 8px 10px 8px 25px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    font-size: 80%;
    font-weight: bold;
}
#file_explorer .indicator {
  position: absolute;
  top: 12px;
  left: 8px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 80%;
}
#file_explorer .tree li a {
    color:#369;
    font-size: 80%;
    text-decoration: none;
}
#file_explorer .tree li button, 
#file_explorer .tree li button:active, 
#file_explorer .tree li button:focus {
    text-decoration: none;
    /* color:#369; */
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}